<!DOCTYPE html>

<head>
  <%- include('../template/head') %>
</head>
<html>
<%- include('../template/navbar') %>
  <main>
    <div class="articleList__wrapper">
      <div class="title">分類專區</div>
      <% if (errorMessage && errorMessage.length> 0) { %>
        <div class="form__remind">
          <%= errorMessage %>
        </div>
        <% } %>
          <% if (username) { %>
            <form class="form__category" method="POST" action="/categoryList">
              <input class="input__category" name="categoryName" type="text" placeholder="分類">
              <input class="form__category__submit-btn" type="submit">
            </form>
            <% } %>
              <% categories.forEach(category=> { %>
                <div class="category">
                  <div class="category__name" href="#">
                    <%- category.categoryName %>
                  </div>
                  <div class="category__time">
                    <div class="category__time-desc">
                      <%= category.createdAt.toDateString() %>
                    </div>
                  </div>
                  <% if (username) { %>
                    <div class="btn__wrapper">
                      <a class="category__edit-btn" href="/updateCategory/<%= category.id %>">編輯</a>
                      <a class="category__delete-btn" href="/deleteCategory/<%= category.id %>">刪除</a>
                    </div>
                    <% } %>
                      <% }) %>
                </div>
  </main>
  <%- include('../template/footer') %>

</html>