<!DOCTYPE html>

<head>
  <%- include('../template/head') %>
</head>
<html>
<%- include('../template/navbar') %>

  <main>
    <div class="articleList__wrapper">
      <div class="articleList">
        <div class="list__info">
          <div class="article__category">
            <%- article.Category.categoryName %>
          </div>
          <div class="list__title">
            <%- article.title %>
          </div>
        </div>
        <div class="list__time">
          <div>
            <%= article.createdAt.toDateString() %>
          </div>
          <% if (username) {%>
            <a class="article__edit-btn" href="/updateArticle/<%= article.id %>">編輯</a>
            <a class="article__delete-btn" href="/deleteArticle/<%= article.id %>">刪除</a>
            <% } %>
        </div>
      </div>
      <div class="article__content">
        <%- article.content %>
      </div>
    </div>
  </main>

  <%- include('../template/footer') %>

</html>